@mixin darkmode {
  --white-forDarkMode: var(--black);
  --white-dark-forDarkMode: var(--black-dark);
  --white-super-dark-forDarkMode: var(--black-super-dark);
  --white-ultra-dark-forDarkMode: var(--black-ultra-dark);
  --white-hover-forDarkMode: var(--black-hover);
  --white-transparent-forDarkMode: var(--black-transparent);
  --white-transparent-high-forDarkMode: var(--black-transparent-high);
  --white-transparent-low-forDarkMode: var(--black-transparent-low);
  --black-forDarkMode: var(--white);
  --black-light-forDarkMode: var(--white-light);
  --black-super-light-forDarkMode: var(--white-super-light);
  --black-ultra-light-forDarkMode: var(--white-ultra-light);
  --black-dark-forDarkMode: var(--white-dark);
  --black-super-dark-forDarkMode: var(--white-super-dark);
  --black-ultra-dark-forDarkMode: var(--white-ultra-dark);
  --black-hover-forDarkMode: var(--white-hover);
  --black-transparent-forDarkMode: var(--white-transparent);
  --black-transparent-high-forDarkMode: var(--white-transparent-high);
  --black-transparent-low-forDarkMode: var(--white-transparent-low);
}

:root {
  --white: #f3f3f3;
  --white-light: #ebebeb;
  --white-super-light: #e2e2e2;
  --white-ultra-light: #d6d6d6;
  --white-dark: #e7e7e7;
  --white-super-dark: #dbdbdb;
  --white-ultra-dark: #cccccc;
  --white-hover: #d4d4d4;
  --white-transparent: #f3f3f356;
  --white-transparent-high: #f3f3f31e;
  --white-transparent-low: #f3f3f3e1;
  --black: #202020;
  --black-light: #292929;
  --black-super-light: #414141;
  --black-ultra-light: #7e7e7e;
  --black-dark: #181818;
  --black-super-dark: #111111;
  --black-ultra-dark: #080808;
  --black-hover: #535353;
  --black-transparent: #20202080;
  --black-transparent-high: #20202015;
  --black-transparent-low: #202020e3;
  --blue: #0c81cf;
  --blue-light: #30a2ee;
  --blue-super-light: #54b6f7;
  --blue-ultra-light: #b5e1ff;
  --blue-dark: #096daf;
  --blue-super-dark: #07578d;
  --blue-ultra-dark: #043e64;
  --blue-hover: #3ea2e6;
  --blue-transparent: #0c81cf7c;
  --blue-transparent-high: #0c81cf15;
  --blue-transparent-low: #0c81cfb9;
  --blue-dark-transparent: #07578d7c;
  --blue-dark-transparent-high: #07578d18;
  --blue-dark-transparent-low: #07578dd7;
  --blue-dark-transparent-low-hover: #0968a7d7;
  --grey: #555555;
  --grey-light: #696969;
  --grey-super-light: #929292;
  --grey-ultra-light: #c0c0c0;
  --grey-dark: #424242;
  --grey-super-dark: #313131;
  --grey-ultra-dark: #252525;
  --grey-hover: #494949;
  --grey-transparent: #55555577;
  --grey-transparent-high: #55555534;
  --grey-transparent-low: #555555c9;
  --white-forDarkMode: var(--white);
  --white-dark-forDarkMode: var(--white-dark);
  --white-super-dark-forDarkMode: var(--white-super-dark);
  --white-ultra-dark-forDarkMode: var(--white-ultra-dark);
  --white-hover-forDarkMode: var(--white-hover);
  --white-transparent-forDarkMode: var(--white-transparent);
  --white-transparent-high-forDarkMode: var(--white-transparent-high);
  --white-transparent-low-forDarkMode: var(--white-transparent-low);
  --black-forDarkMode: var(--black);
  --black-light-forDarkMode: var(--black-light);
  --black-super-light-forDarkMode: var(--black-super-light);
  --black-ultra-light-forDarkMode: var(--black-ultra-light);
  --black-dark-forDarkMode: var(--black-dark);
  --black-super-dark-forDarkMode: var(--black-super-dark);
  --black-ultra-dark-forDarkMode: var(--black-ultra-dark);
  --black-hover-forDarkMode: var(--black-hover);
  --black-transparent-forDarkMode: var(--black-transparent);
  --black-transparent-high-forDarkMode: var(--black-transparent-high);
  --black-transparent-low-forDarkMode: var(--black-transparent-low);
  --red: #ed4956;
  --red-transparent-high: #ed495715;
  --notice-error-border: #ff919a;
  --notice-error-background: #ffdbde;
  --notice-caution-border: #f0e21d;
  --notice-caution-background: #fffeec;
  --notice-normal-border: #85d461;
  --notice-normal-background: #e9ffdf;
  --color-image-red: #e42525;
  --color-image-pink: #df5ec3;
  --color-image-purple: #880ccf;
  --color-image-blue: #0c67cf;
  --color-image-green: #2bb866;
  --color-image-yellow: #d6da15;
  --color-image-orange: #e07700;
  --color-image-brown: #8f5d00;
  --color-image-white: #f1f1f1;
  --color-image-beige: #ada58a;
  --color-image-grey: #636363;
  --color-image-black: #181818;
  // カラーモード
  --colormode1: #c84219;
  --colormode1-light: #df5e37;
  --colormode1-dark: #ac3814;
  --colormode1-super-dark: #972e0e;
  --colormode1-ultra-dark: #802206;
  --colormode1-white: #ffcbbd;
  --colormode1-transparent: #c8421979;
  --colormode1-super-dark-transparent-low: #972e0eec;
  --colormode1-ultra-dark-transparent-low: #802206ee;
  --colormode2: #cc6363;
  --colormode2-light: #df8282;
  --colormode2-dark: #c75656;
  --colormode2-super-dark: #b64949;
  --colormode2-ultra-dark: #a03b3b;
  --colormode2-white: #ffc8c8;
  --colormode2-transparent: #cc636381;
  --colormode2-super-dark-transparent-low: #b64949ec;
  --colormode2-ultra-dark-transparent-low: #a03b3bee;
  --colormode3: #334b7c;
  --colormode3-light: #506796;
  --colormode3-dark: #2c4370;
  --colormode3-super-dark: #2a3a5a;
  --colormode3-ultra-dark: #212f4b;
  --colormode3-white: #cedfff;
  --colormode3-transparent: #334b7c7c;
  --colormode3-super-dark-transparent-low: #2a3a5ae7;
  --colormode3-ultra-dark-transparent-low: #212f4be8;
  --colormode4: #4891bb;
  --colormode4-light: #63abd4;
  --colormode4-dark: #3a86b3;
  --colormode4-super-dark: #2f76a0;
  --colormode4-ultra-dark: #22678f;
  --colormode4-white: #caebff;
  --colormode4-transparent: #4891bb79;
  --colormode4-super-dark-transparent-low: #2f76a0ea;
  --colormode4-ultra-dark-transparent-low: #22678fee;
  --colormode5: #e2892f;
  --colormode5-light: #f5af69;
  --colormode5-dark: #d87c20;
  --colormode5-super-dark: #c76e16;
  --colormode5-ultra-dark: #ad5d0d;
  --colormode5-white: #ffe4ca;
  --colormode5-transparent: #e2882f79;
  --colormode5-super-dark-transparent-low: #c76e16ec;
  --colormode5-ultra-dark-transparent-low: #ad5d0df1;
  --colormode6: #c99914;
  --colormode6-light: #dbb241;
  --colormode6-dark: #b88b0f;
  --colormode6-super-dark: #a37a09;
  --colormode6-ultra-dark: #8d6906;
  --colormode6-white: #fff4d4;
  --colormode6-transparent: #c9991479;
  --colormode6-super-dark-transparent-low: #a37a09ec;
  --colormode6-ultra-dark-transparent-low: #8d6906ef;
  --colormode7: #4a7e4d;
  --colormode7-light: #6f9971;
  --colormode7-dark: #3c773f;
  --colormode7-super-dark: #316d34;
  --colormode7-ultra-dark: #245c27;
  --colormode7-white: #e0ffe1;
  --colormode7-transparent: #4a7e4d77;
  --colormode7-super-dark-transparent-low: #316d34e8;
  --colormode7-ultra-dark-transparent-low: #245c27ee;
  --colormode8: #535353;
  --colormode8-light: #7e7e7e;
  --colormode8-dark: #464646;
  --colormode8-super-dark: #3a3a3a;
  --colormode8-ultra-dark: #2e2e2e;
  --colormode8-white: #dddddd;
  --colormode8-transparent: #53535379;
  --colormode8-super-dark-transparent-low: #3a3a3ae8;
  --colormode8-ultra-dark-transparent-low: #2e2e2eea;
  --colormode9: #875b8b;
  --colormode9-light: #a585a8;
  --colormode9-dark: #7a517e;
  --colormode9-super-dark: #6d4470;
  --colormode9-ultra-dark: #59385c;
  --colormode9-white: #fde6ff;
  --colormode9-transparent: #875b8b7a;
  --colormode9-super-dark-transparent-low: #6d4470ea;
  --colormode9-ultra-dark-transparent-low: #59385cec;
  --colormode10: #9b8664;
  --colormode10-light: #b6a68d;
  --colormode10-dark: #8d7753;
  --colormode10-super-dark: #7c6746;
  --colormode10-ultra-dark: #6b583a;
  --colormode10-white: #ffefd6;
  --colormode10-transparent: #9b866475;
  --colormode10-transparent-high: #9b86643d;
  --colormode10-super-dark-transparent-low: #7c6746ec;
  --colormode10-ultra-dark-transparent-low: #6b583aec;
  --colormode11: #9b6733;
  --colormode11-light: #b48657;
  --colormode11-dark: #86592c;
  --colormode11-super-dark: #754d24;
  --colormode11-ultra-dark: #614020;
  --colormode11-white: #ffead4;
  --colormode11-transparent: #9b673377;
  --colormode11-super-dark-transparent-low: #754d24ee;
  --colormode11-ultra-dark-transparent-low: #614020ee;
  --colormode12: #9b8664;
  --colormode12-light: #ac9d85;
  --colormode12-dark: #8d7753;
  --colormode12-super-dark: #7c6746;
  --colormode12-ultra-dark: #6b583a;
  --colormode12-white: #ffefd6;
  --colormode12-transparent: #9b866475;
  --colormode12-super-dark-transparent-low: #7c6746ec;
  --colormode12-ultra-dark-transparent-low: #6b583aec;
  --white-transparent0: #f3f3f311;
  --white-transparent1: #f3f3f322;
  --white-transparent2: #f3f3f333;
  --white-transparent3: #f3f3f344;
  --white-transparent4: #f3f3f355;
  --white-transparent5: #f3f3f366;
  --white-transparent6: #f3f3f377;
  --white-transparent7: #f3f3f388;
  --white-transparent8: #f3f3f399;
  --white-transparent9: #f3f3f3aa;
  --white-transparent10: #f3f3f3bb;
  --white-transparent11: #f3f3f3cc;
  --white-transparent12: #f3f3f3dd;
  --white-transparent13: #f3f3f3ee;
  --gray1: #eeeeee;
  --gray2: #dddddd;
  --gray3: #cccccc;
  --gray4: #bbbbbb;
  --gray5: #aaaaaa;
  --gray6: #999999;
  --gray7: #888888;
  --gray8: #777777;
  --gray9: #666666;
  --gray10: #555555;
  --gray11: #444444;
  --gray12: #333333;
  --gray13: #222222;
  --search-red: #e03131;
  --search-orange: #e07131;
  --search-yellow: #e0c631;
  --search-green: #059600;
  --search-blue: #2469d1;
  --search-purple: #7a20c4;
  --search-brown: #693809;
}

:root.color1 {
  --background: var(--colormode1);

  @include darkmode;
  --logo: var(--white);
  --site-name: var(--white);
  --site-time: var(--colormode1-white);
  --site-border: var(--colormode1);
  --side-menu: var(--colormode1-super-dark);
  --side-menu-icon: var(--colormode1-white);
  --side-menu-hover: var(--colormode1-ultra-dark);
  --side-menu-borber: var(--colormode1-light);
  --tool-button-hover: var(--white-transparent-high);
  --more-button: var(--colormode1-super-dark);
  --more-button-hover: var(--colormode1-ultra-dark);
  --more-button-text: var(--white);
  --search-background: var(--white);
  --search-border: var(--white);
  --search-icon: var(--colormode1);
  --search-text: var(--gray13);
  --search-placeholder: var(--gray8);
  --scroll-top-button: var(--colormode1-super-dark);
  --scroll-top-button-hover: var(--colormode1-ultra-dark);
  --scroll-top-button-shadow: transparent;
  --scroll-top-icon: var(--colormode1-white);
  --favorite-icon: var(--colormode1-white);
  --favorite-icon-stroke: var(--black-dark-forDarkMode);
  --favorite-icon-selected: var(--black-dark-forDarkMode);
  --favorite-icon-hover: var(--white-transparent-high);
  --darkmode-button-mask: var(--colormode1);
  --menu-bar: var(--colormode1-super-dark-transparent-low);
  --menu-bar-hover: var(--colormode1-ultra-dark-transparent-low);
  --category-name: var(--black-forDarkMode);
  --barkmode-light-icon: var(--black-forDarkMode);
  --menu-background: var(--white);
  --menu-border: var(--gray4);
  --menu-text: var(--black);
  --menu-comment: var(--grey);
  --menu-button-background: var(--grey-ultra-light);
  --menu-button-active: var(--white);
  --menu-item-text: var(--gray13);
  --menu-item-selected: var(--gray3);
  --scrollbar-button: var(--white);
  --scrollbar-background: var(--colormode1);
  --footer-background: var(--colormode1);
  --footer-text: var(--white);
}

:root.color2 {
  --background: var(--colormode2);

  @include darkmode;
  --logo: var(--white);
  --site-name: var(--white);
  --site-time: var(--colormode2-white);
  --site-border: var(--colormode2);
  --side-menu: var(--colormode2-super-dark);
  --side-menu-icon: var(--colormode2-white);
  --side-menu-hover: var(--colormode2-ultra-dark);
  --side-menu-borber: var(--colormode2-light);
  --tool-button-hover: var(--white-transparent-high);
  --more-button: var(--colormode2-super-dark);
  --more-button-hover: var(--colormode2-ultra-dark);
  --more-button-text: var(--white);
  --search-background: var(--white);
  --search-border: var(--white);
  --search-icon: var(--colormode2);
  --search-text: var(--gray13);
  --search-placeholder: var(--gray8);
  --scroll-top-button: var(--colormode2-super-dark);
  --scroll-top-button-hover: var(--colormode2-ultra-dark);
  --scroll-top-button-shadow: transparent;
  --scroll-top-icon: var(--colormode2-white);
  --favorite-icon: var(--colormode2-white);
  --favorite-icon-stroke: var(--black-dark-forDarkMode);
  --favorite-icon-selected: var(--black-dark-forDarkMode);
  --favorite-icon-hover: var(--white-transparent-high);
  --darkmode-button-mask: var(--colormode2);
  --menu-bar: var(--colormode2-super-dark-transparent-low);
  --menu-bar-hover: var(--colormode2-ultra-dark-transparent-low);
  --category-name: var(--black-forDarkMode);
  --barkmode-light-icon: var(--black-forDarkMode);
  --menu-background: var(--white);
  --menu-border: var(--gray4);
  --menu-text: var(--black);
  --menu-comment: var(--grey);
  --menu-button-background: var(--grey-ultra-light);
  --menu-button-active: var(--white);
  --menu-item-text: var(--gray13);
  --menu-item-selected: var(--gray3);
  --scrollbar-button: var(--white);
  --scrollbar-background: var(--colormode2);
  --footer-background: var(--colormode2);
  --footer-text: var(--white);
}

:root.color3 {
  --background: var(--colormode3);

  @include darkmode;
  --logo: var(--white);
  --site-name: var(--white);
  --site-time: var(--colormode3-white);
  --site-border: var(--colormode3);
  --side-menu: var(--colormode3-super-dark);
  --side-menu-icon: var(--colormode3-white);
  --side-menu-hover: var(--colormode3-ultra-dark);
  --side-menu-borber: var(--colormode3-light);
  --tool-button-hover: var(--white-transparent-high);
  --more-button: var(--colormode3-super-dark);
  --more-button-hover: var(--colormode3-ultra-dark);
  --more-button-text: var(--white);
  --search-background: var(--white);
  --search-border: var(--white);
  --search-icon: var(--colormode3);
  --search-text: var(--gray13);
  --search-placeholder: var(--gray8);
  --scroll-top-button: var(--colormode3-super-dark);
  --scroll-top-button-hover: var(--colormode3-ultra-dark);
  --scroll-top-button-shadow: transparent;
  --scroll-top-icon: var(--colormode3-white);
  --favorite-icon: var(--colormode3-white);
  --favorite-icon-stroke: var(--black-dark-forDarkMode);
  --favorite-icon-selected: var(--black-dark-forDarkMode);
  --favorite-icon-hover: var(--white-transparent-high);
  --darkmode-button-mask: var(--colormode3);
  --menu-bar: var(--colormode3-super-dark-transparent-low);
  --menu-bar-hover: var(--colormode3-ultra-dark-transparent-low);
  --category-name: var(--black-forDarkMode);
  --barkmode-light-icon: var(--black-forDarkMode);
  --menu-background: var(--white);
  --menu-border: var(--gray4);
  --menu-text: var(--black);
  --menu-comment: var(--grey);
  --menu-button-background: var(--grey-ultra-light);
  --menu-button-active: var(--white);
  --menu-item-text: var(--gray13);
  --menu-item-selected: var(--gray3);
  --scrollbar-button: var(--white);
  --scrollbar-background: var(--colormode3);
  --footer-background: var(--colormode3);
  --footer-text: var(--white);
}

:root.color4 {
  --background: var(--colormode4);

  @include darkmode;
  --logo: var(--white);
  --site-name: var(--white);
  --site-time: var(--colormode4-white);
  --site-border: var(--colormode4);
  --side-menu: var(--colormode4-super-dark);
  --side-menu-icon: var(--colormode4-white);
  --side-menu-hover: var(--colormode4-ultra-dark);
  --side-menu-borber: var(--colormode4-light);
  --tool-button-hover: var(--white-transparent-high);
  --more-button: var(--colormode4-super-dark);
  --more-button-hover: var(--colormode4-ultra-dark);
  --more-button-text: var(--white);
  --search-background: var(--white);
  --search-border: var(--white);
  --search-icon: var(--colormode4);
  --search-text: var(--gray13);
  --search-placeholder: var(--gray8);
  --scroll-top-button: var(--colormode4-super-dark);
  --scroll-top-button-hover: var(--colormode4-ultra-dark);
  --scroll-top-button-shadow: transparent;
  --scroll-top-icon: var(--colormode4-white);
  --favorite-icon: var(--colormode4-white);
  --favorite-icon-stroke: var(--black-dark-forDarkMode);
  --favorite-icon-selected: var(--black-dark-forDarkMode);
  --favorite-icon-hover: var(--white-transparent-high);
  --darkmode-button-mask: var(--colormode4);
  --menu-bar: var(--colormode4-super-dark-transparent-low);
  --menu-bar-hover: var(--colormode4-ultra-dark-transparent-low);
  --category-name: var(--black-forDarkMode);
  --barkmode-light-icon: var(--black-forDarkMode);
  --menu-background: var(--white);
  --menu-border: var(--gray4);
  --menu-text: var(--black);
  --menu-comment: var(--grey);
  --menu-button-background: var(--grey-ultra-light);
  --menu-button-active: var(--white);
  --menu-item-text: var(--gray13);
  --menu-item-selected: var(--gray3);
  --scrollbar-button: var(--white);
  --scrollbar-background: var(--colormode4);
  --footer-background: var(--colormode4);
  --footer-text: var(--white);
}

:root.color5 {
  --background: var(--colormode5);

  @include darkmode;
  --logo: var(--white);
  --site-name: var(--white);
  --site-time: var(--colormode5-white);
  --site-border: var(--colormode5);
  --side-menu: var(--colormode5-super-dark);
  --side-menu-icon: var(--colormode5-white);
  --side-menu-hover: var(--colormode5-ultra-dark);
  --side-menu-borber: var(--colormode5-light);
  --tool-button-hover: var(--white-transparent-high);
  --more-button: var(--colormode5-super-dark);
  --more-button-hover: var(--colormode5-ultra-dark);
  --more-button-text: var(--white);
  --search-background: var(--white);
  --search-border: var(--white);
  --search-icon: var(--colormode5);
  --search-text: var(--gray13);
  --search-placeholder: var(--gray8);
  --scroll-top-button: var(--colormode5-super-dark);
  --scroll-top-button-hover: var(--colormode5-ultra-dark);
  --scroll-top-button-shadow: transparent;
  --scroll-top-icon: var(--colormode5-white);
  --favorite-icon: var(--colormode5-white);
  --favorite-icon-stroke: var(--black-dark-forDarkMode);
  --favorite-icon-selected: var(--black-dark-forDarkMode);
  --favorite-icon-hover: var(--white-transparent-high);
  --darkmode-button-mask: var(--colormode5);
  --menu-bar: var(--colormode5-super-dark-transparent-low);
  --menu-bar-hover: var(--colormode5-ultra-dark-transparent-low);
  --category-name: var(--black-forDarkMode);
  --barkmode-light-icon: var(--black-forDarkMode);
  --menu-background: var(--white);
  --menu-border: var(--gray4);
  --menu-text: var(--black);
  --menu-comment: var(--grey);
  --menu-button-background: var(--grey-ultra-light);
  --menu-button-active: var(--white);
  --menu-item-text: var(--gray13);
  --menu-item-selected: var(--gray3);
  --scrollbar-button: var(--white);
  --scrollbar-background: var(--colormode5);
  --footer-background: var(--colormode5);
  --footer-text: var(--white);
}

:root.color6 {
  --background: var(--colormode6);

  @include darkmode;
  --logo: var(--white);
  --site-name: var(--white);
  --site-time: var(--colormode6-white);
  --site-border: var(--colormode6);
  --side-menu: var(--colormode6-super-dark);
  --side-menu-icon: var(--colormode6-white);
  --side-menu-hover: var(--colormode6-ultra-dark);
  --side-menu-borber: var(--colormode6-light);
  --tool-button-hover: var(--white-transparent-high);
  --more-button: var(--colormode6-super-dark);
  --more-button-hover: var(--colormode6-ultra-dark);
  --more-button-text: var(--white);
  --search-background: var(--white);
  --search-border: var(--white);
  --search-icon: var(--colormode6);
  --search-text: var(--gray13);
  --search-placeholder: var(--gray8);
  --scroll-top-button: var(--colormode6-super-dark);
  --scroll-top-button-hover: var(--colormode6-ultra-dark);
  --scroll-top-button-shadow: transparent;
  --scroll-top-icon: var(--colormode6-white);
  --favorite-icon: var(--colormode6-white);
  --favorite-icon-stroke: var(--black-dark-forDarkMode);
  --favorite-icon-selected: var(--black-dark-forDarkMode);
  --favorite-icon-hover: var(--white-transparent-high);
  --darkmode-button-mask: var(--colormode6);
  --menu-bar: var(--colormode6-super-dark-transparent-low);
  --menu-bar-hover: var(--colormode6-ultra-dark-transparent-low);
  --category-name: var(--black-forDarkMode);
  --barkmode-light-icon: var(--black-forDarkMode);
  --menu-background: var(--white);
  --menu-border: var(--gray4);
  --menu-text: var(--black);
  --menu-comment: var(--grey);
  --menu-button-background: var(--grey-ultra-light);
  --menu-button-active: var(--white);
  --menu-item-text: var(--gray13);
  --menu-item-selected: var(--gray3);
  --scrollbar-button: var(--white);
  --scrollbar-background: var(--colormode6);
  --footer-background: var(--colormode6);
  --footer-text: var(--white);
}

:root.color7 {
  --background: var(--colormode7);

  @include darkmode;
  --logo: var(--white);
  --site-name: var(--white);
  --site-time: var(--colormode7-white);
  --site-border: var(--colormode7);
  --side-menu: var(--colormode7-super-dark);
  --side-menu-icon: var(--colormode7-white);
  --side-menu-hover: var(--colormode7-ultra-dark);
  --side-menu-borber: var(--colormode7-light);
  --tool-button-hover: var(--white-transparent-high);
  --more-button: var(--colormode7-super-dark);
  --more-button-hover: var(--colormode7-ultra-dark);
  --more-button-text: var(--white);
  --search-background: var(--white);
  --search-border: var(--white);
  --search-icon: var(--colormode7);
  --search-text: var(--gray13);
  --search-placeholder: var(--gray8);
  --scroll-top-button: var(--colormode7-super-dark);
  --scroll-top-button-hover: var(--colormode7-ultra-dark);
  --scroll-top-button-shadow: transparent;
  --scroll-top-icon: var(--colormode7-white);
  --favorite-icon: var(--colormode7-white);
  --favorite-icon-stroke: var(--black-dark-forDarkMode);
  --favorite-icon-selected: var(--black-dark-forDarkMode);
  --favorite-icon-hover: var(--white-transparent-high);
  --darkmode-button-mask: var(--colormode7);
  --menu-bar: var(--colormode7-super-dark-transparent-low);
  --menu-bar-hover: var(--colormode7-ultra-dark-transparent-low);
  --category-name: var(--black-forDarkMode);
  --barkmode-light-icon: var(--black-forDarkMode);
  --menu-background: var(--white);
  --menu-border: var(--gray4);
  --menu-text: var(--black);
  --menu-comment: var(--grey);
  --menu-button-background: var(--grey-ultra-light);
  --menu-button-active: var(--white);
  --menu-item-text: var(--gray13);
  --menu-item-selected: var(--gray3);
  --scrollbar-button: var(--white);
  --scrollbar-background: var(--colormode7);
  --footer-background: var(--colormode7);
  --footer-text: var(--white);
}

:root.color8 {
  --background: var(--colormode8);

  @include darkmode;
  --logo: var(--white);
  --site-name: var(--white);
  --site-time: var(--colormode8-white);
  --site-border: var(--colormode8);
  --side-menu: var(--colormode8-super-dark);
  --side-menu-icon: var(--colormode8-white);
  --side-menu-hover: var(--colormode8-ultra-dark);
  --side-menu-borber: var(--colormode8-light);
  --tool-button-hover: var(--white-transparent-high);
  --more-button: var(--colormode8-super-dark);
  --more-button-hover: var(--colormode8-ultra-dark);
  --more-button-text: var(--white);
  --search-background: var(--white);
  --search-border: var(--white);
  --search-icon: var(--colormode8);
  --search-text: var(--gray13);
  --search-placeholder: var(--gray8);
  --scroll-top-button: var(--colormode8-super-dark);
  --scroll-top-button-hover: var(--colormode8-ultra-dark);
  --scroll-top-button-shadow: transparent;
  --scroll-top-icon: var(--colormode8-white);
  --favorite-icon: var(--colormode8-white);
  --favorite-icon-stroke: var(--black-dark-forDarkMode);
  --favorite-icon-selected: var(--black-dark-forDarkMode);
  --favorite-icon-hover: var(--white-transparent-high);
  --darkmode-button-mask: var(--colormode8);
  --menu-bar: var(--colormode8-super-dark-transparent-low);
  --menu-bar-hover: var(--colormode8-ultra-dark-transparent-low);
  --category-name: var(--black-forDarkMode);
  --barkmode-light-icon: var(--black-forDarkMode);
  --menu-background: var(--white);
  --menu-border: var(--gray4);
  --menu-text: var(--black);
  --menu-comment: var(--grey);
  --menu-button-background: var(--grey-ultra-light);
  --menu-button-active: var(--white);
  --menu-item-text: var(--gray13);
  --menu-item-selected: var(--gray3);
  --scrollbar-button: var(--white);
  --scrollbar-background: var(--colormode8);
  --footer-background: var(--colormode8);
  --footer-text: var(--white);
}

:root.color9 {
  --background: var(--colormode9);

  @include darkmode;
  --logo: var(--white);
  --site-name: var(--white);
  --site-time: var(--colormode9-white);
  --site-border: var(--colormode9);
  --side-menu: var(--colormode9-super-dark);
  --side-menu-icon: var(--colormode9-white);
  --side-menu-hover: var(--colormode9-ultra-dark);
  --side-menu-borber: var(--colormode9-light);
  --tool-button-hover: var(--white-transparent-high);
  --more-button: var(--colormode9-super-dark);
  --more-button-hover: var(--colormode9-ultra-dark);
  --more-button-text: var(--white);
  --search-background: var(--white);
  --search-border: var(--white);
  --search-icon: var(--colormode9);
  --search-text: var(--gray13);
  --search-placeholder: var(--gray8);
  --scroll-top-button: var(--colormode9-super-dark);
  --scroll-top-button-hover: var(--colormode9-ultra-dark);
  --scroll-top-button-shadow: transparent;
  --scroll-top-icon: var(--colormode9-white);
  --favorite-icon: var(--colormode9-white);
  --favorite-icon-stroke: var(--black-dark-forDarkMode);
  --favorite-icon-selected: var(--black-dark-forDarkMode);
  --favorite-icon-hover: var(--white-transparent-high);
  --darkmode-button-mask: var(--colormode9);
  --menu-bar: var(--colormode9-super-dark-transparent-low);
  --menu-bar-hover: var(--colormode9-ultra-dark-transparent-low);
  --category-name: var(--black-forDarkMode);
  --barkmode-light-icon: var(--black-forDarkMode);
  --menu-background: var(--white);
  --menu-border: var(--gray4);
  --menu-text: var(--black);
  --menu-comment: var(--grey);
  --menu-button-background: var(--grey-ultra-light);
  --menu-button-active: var(--white);
  --menu-item-text: var(--gray13);
  --menu-item-selected: var(--gray3);
  --scrollbar-button: var(--white);
  --scrollbar-background: var(--colormode9);
  --footer-background: var(--colormode9);
  --footer-text: var(--white);
}

:root.color10 {
  --background: var(--white);

  --logo: var(--colormode10);
  --site-name: var(--colormode10-ultra-dark);
  --site-time: var(--colormode10-super-dark);
  --site-border: var(--colormode10);
  --side-menu: var(--colormode10);
  --side-menu-icon: var(--colormode10-white);
  --side-menu-hover: var(--colormode10-super-dark);
  --side-menu-borber: var(--colormode10-light);
  --tool-button-hover: var(--colormode10-transparent-high);
  --more-button: var(--colormode10);
  --more-button-hover: var(--colormode10-super-dark);
  --more-button-text: var(--white);
  --search-background: var(--colormode10);
  --search-border: var(--colormode10);
  --search-icon: var(--colormode10);
  --search-text: var(--colormode10);
  --search-placeholder: var(--colormode10);
  --scroll-top-button: var(--colormode10);
  --scroll-top-button-hover: var(--colormode10-super-dark);
  --scroll-top-button-shadow: transparent;
  --scroll-top-icon: var(--white);
  --favorite-icon: var(--red);
  --favorite-icon-stroke: var(--colormode10);
  --favorite-icon-selected: var(--colormode10);
  --favorite-icon-hover: var(--white-transparent-high);
  --darkmode-button-mask: var(--white);
  --menu-bar: var(--colormode10-super-dark-transparent-low);
  --menu-bar-hover: var(--colormode10-ultra-dark-transparent-low);
  --category-name: var(--colormode10-ultra-dark);
  --barkmode-light-icon: var(--colormode10-ultra-dark);
  --menu-background: var(--white);
  --menu-border: var(--gray4);
  --menu-text: var(--black);
  --menu-comment: var(--grey);
  --menu-button-background: var(--grey-ultra-light);
  --menu-button-active: var(--white);
  --menu-item-text: var(--gray13);
  --menu-item-selected: var(--gray3);
  --scrollbar-button: var(--colormode10);
  --scrollbar-background: var(--white);
  --footer-background: var(--white);
  --footer-text: var(--colormode10);
}

:root.color11 {
  --background: var(--colormode11);

  @include darkmode;
  --logo: var(--white);
  --site-name: var(--white);
  --site-time: var(--colormode11-white);
  --site-border: var(--colormode11);
  --side-menu: var(--colormode11-super-dark);
  --side-menu-icon: var(--colormode11-white);
  --side-menu-hover: var(--colormode11-ultra-dark);
  --side-menu-borber: var(--colormode11-light);
  --tool-button-hover: var(--white-transparent-high);
  --more-button: var(--colormode11-super-dark);
  --more-button-hover: var(--colormode11-ultra-dark);
  --more-button-text: var(--white);
  --search-background: var(--white);
  --search-border: var(--white);
  --search-icon: var(--colormode11);
  --search-text: var(--gray13);
  --search-placeholder: var(--gray8);
  --scroll-top-button: var(--colormode11-super-dark);
  --scroll-top-button-hover: var(--colormode11-ultra-dark);
  --scroll-top-button-shadow: transparent;
  --scroll-top-icon: var(--colormode11-white);
  --favorite-icon: var(--colormode11-white);
  --favorite-icon-stroke: var(--black-dark-forDarkMode);
  --favorite-icon-selected: var(--black-dark-forDarkMode);
  --favorite-icon-hover: var(--white-transparent-high);
  --darkmode-button-mask: var(--colormode11);
  --menu-bar: var(--colormode11-super-dark-transparent-low);
  --menu-bar-hover: var(--colormode11-ultra-dark-transparent-low);
  --category-name: var(--black-forDarkMode);
  --barkmode-light-icon: var(--black-forDarkMode);
  --menu-background: var(--white);
  --menu-border: var(--gray4);
  --menu-text: var(--black);
  --menu-comment: var(--grey);
  --menu-button-background: var(--grey-ultra-light);
  --menu-button-active: var(--white);
  --menu-item-text: var(--gray13);
  --menu-item-selected: var(--gray3);
  --scrollbar-button: var(--white);
  --scrollbar-background: var(--colormode11);
  --footer-background: var(--colormode11);
  --footer-text: var(--white);
}

:root.color12 {
  --background: var(--colormode12);

  @include darkmode;
  --logo: var(--white);
  --site-name: var(--white);
  --site-time: var(--colormode12-white);
  --site-border: var(--colormode12);
  --side-menu: var(--colormode12-super-dark);
  --side-menu-icon: var(--colormode12-white);
  --side-menu-hover: var(--colormode12-ultra-dark);
  --side-menu-borber: var(--colormode12-light);
  --tool-button-hover: var(--white-transparent-high);
  --more-button: var(--colormode12-super-dark);
  --more-button-hover: var(--colormode12-ultra-dark);
  --more-button-text: var(--white);
  --search-background: var(--white);
  --search-border: var(--white);
  --search-icon: var(--colormode12);
  --search-text: var(--gray13);
  --search-placeholder: var(--gray8);
  --scroll-top-button: var(--colormode12-super-dark);
  --scroll-top-button-hover: var(--colormode12-ultra-dark);
  --scroll-top-button-shadow: transparent;
  --scroll-top-icon: var(--colormode12-white);
  --favorite-icon: var(--colormode12-white);
  --favorite-icon-stroke: var(--black-dark-forDarkMode);
  --favorite-icon-selected: var(--black-dark-forDarkMode);
  --favorite-icon-hover: var(--white-transparent-high);
  --darkmode-button-mask: var(--colormode12);
  --menu-bar: var(--colormode12-super-dark-transparent-low);
  --menu-bar-hover: var(--colormode12-ultra-dark-transparent-low);
  --category-name: var(--black-forDarkMode);
  --barkmode-light-icon: var(--black-forDarkMode);
  --menu-background: var(--white);
  --menu-border: var(--gray4);
  --menu-text: var(--black);
  --menu-comment: var(--grey);
  --menu-button-background: var(--grey-ultra-light);
  --menu-button-active: var(--white);
  --menu-item-text: var(--gray13);
  --menu-item-selected: var(--gray3);
  --scrollbar-button: var(--white);
  --scrollbar-background: var(--colormode12);
  --footer-background: var(--colormode12);
  --footer-text: var(--white);
}

:root.darkmode {
  --background: var(--black);

  @include darkmode;
  --white-forDarkMode: var(--black);
  --white-dark-forDarkMode: var(--black-dark);
  --white-super-dark-forDarkMode: var(--black-super-dark);
  --white-ultra-dark-forDarkMode: var(--black-ultra-dark);
  --white-hover-forDarkMode: var(--black-hover);
  --white-transparent-forDarkMode: var(--black-transparent);
  --white-transparent-high-forDarkMode: var(--black-transparent-high);
  --white-transparent-low-forDarkMode: var(--black-transparent-low);
  --black-forDarkMode: var(--white);
  --black-light-forDarkMode: var(--white-light);
  --black-super-light-forDarkMode: var(--white-super-light);
  --black-ultra-light-forDarkMode: var(--white-ultra-light);
  --black-dark-forDarkMode: var(--white-dark);
  --black-super-dark-forDarkMode: var(--white-super-dark);
  --black-ultra-dark-forDarkMode: var(--white-ultra-dark);
  --black-hover-forDarkMode: var(--white-hover);
  --black-transparent-forDarkMode: var(--white-transparent);
  --black-transparent-high-forDarkMode: var(--white-transparent-high);
  --black-transparent-low-forDarkMode: var(--white-transparent-low);
  --logo: var(--white);
  --site-name: var(--white);
  --site-time: var(--white-super-light);
  --site-border: var(--black);
  --side-menu: #000000;
  --side-menu-icon: var(--white);
  --side-menu-hover: var(--black-super-light);
  --side-menu-borber: var(--black-super-light);
  --tool-button-hover: var(--black-light);
  --more-button: var(--black-super-light);
  --more-button-hover: #4b4b4b;
  --more-button-text: var(--white);
  --search-background: var(--white);
  --search-border: var(--white);
  --search-icon: var(--black);
  --search-text: var(--black);
  --search-placeholder: var(--black);
  --scroll-top-button: var(--black-super-light);
  --scroll-top-button-hover: var(--black-super-light);
  --scroll-top-button-shadow: transparent;
  --scroll-top-icon: var(--white-ultra-dark);
  --favorite-icon: var(--red);
  --favorite-icon-stroke: var(--black-dark-forDarkMode);
  --favorite-icon-selected: var(--black-dark-forDarkMode);
  --favorite-icon-hover: var(--red-transparent-high);
  --menu-bar: #000000d3;
  --menu-bar-hover: var(--white-transparent-high);
  --category-name: var(--black-forDarkMode);
  --barkmode-light-icon: var(--black-forDarkMode);
  --menu-background: var(--black);
  --menu-border: var(--gray10);
  --menu-text: var(--white);
  --menu-comment: var(--gray5);
  --menu-button-background: var(--gray12);
  --menu-button-active: var(--gray10);
  --menu-item-text: var(--gray4);
  --menu-item-selected: var(--gray10);
  --scrollbar-button: var(--gray7);
  --scrollbar-background: var(--black);
  --footer-background: var(--black);
  --footer-text: var(--white);
}
