html {
  font-size: var(--font-size-sm);
  // スクロールバーの色（Firefox用）
  scrollbar-color: var(--scrollbar-button) var(--scrollbar-background);
}

body {
  font-size: var(--font-size-sm);
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 300;
  color: var(--black-forDarkMode);
  background-color: var(--background);
  transition: background-color 0.5s;
}

h3 {
  font-size: var(--font-size-md);
}

h2 {
  font-size: var(--font-size-md);
}

h1 {
  font-size: var(--font-size-md);
}

// スクロールバーの色
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-background);
}

::-webkit-scrollbar-thumb {
  width: 12px;
  border-radius: 20px;
  background: var(--scrollbar-button);
  border: 3px var(--scrollbar-background) solid;
}
